.vs/HPEDocProcessorWebService/v15/.suo
.vs/HPEDocumentProcessorWebService/v15/.suo
.vs/slnx.sqlite
HPEDocProcessorWebService.suo
HPEDocProcessorWebService.v11.suo
HPWDocProcessorWebService/bin/HPEDocProcessorWebService.dll
HPWDocProcessorWebService/bin/HPEDocProcessorWebService.pdb
HPWDocProcessorWebService/bin/vssver.scc
HPWDocProcessorWebService/HPEDocProcessorWebService.csproj.user
HPWDocProcessorWebService/mssccprj.scc
HPWDocProcessorWebService/obj/Debug/CoreCompileInputs.cache
HPWDocProcessorWebService/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
HPWDocProcessorWebService/obj/Debug/vssver.scc
HPWDocProcessorWebService/obj/Release/CoreCompileInputs.cache
HPWDocProcessorWebService/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
HPWDocProcessorWebService/obj/Release/DWGTranslatorService.csproj.FileListAbsolute.txt
HPWDocProcessorWebService/obj/Release/DWGTranslatorService.dll
HPWDocProcessorWebService/obj/Release/DWGTranslatorService.pdb
HPWDocProcessorWebService/obj/Release/HPEDocProcessorWebService.csproj.FileListAbsolute.txt
HPWDocProcessorWebService/obj/Release/HPEDocProcessorWebService.dll
HPWDocProcessorWebService/obj/Release/HPEDocProcessorWebService.pdb
HPWDocProcessorWebService/obj/Release/vssver.scc
HPWDocProcessorWebService/Properties/vssver.scc
HPWDocProcessorWebService/vssver.scc
mssccprj.scc
vssver.scc
